Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: "ELB"
      HealthCheckGracePeriod: "600"

container_commands:
  01_setup_gzip_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"

  02_setup_cache_headers_apache:
    command: "cp .ebextensions/enable_cache_headers.conf /etc/httpd/conf.d/enable_cache_headers.conf"

option_settings:
 - option_name: LOG_DIR
   value: "/opt/python/log"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: "store/wsgi.py"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumProcesses
   value: 4
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumThreads
   value: 10
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "store/staticfiles/"