<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bootstrap E-commerce Templates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <!--[if ie]>
  <meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
  <!-- bootstrap -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static/themes/css/bootstrappage.css" rel="stylesheet"/>

  <!-- global styles -->
  <link href="/static/themes/css/flexslider.css" rel="stylesheet"/>
  <link href="/static/themes/css/main.css" rel="stylesheet"/>

  <!-- scripts -->
  <script src="/static/themes/js/jquery-1.7.2.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/themes/js/superfish.js"></script>
  <script src="/static/themes/js/jquery.scrolltotop.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="/static/themes/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="top-bar" class="container">
  <div class="row">
    <div class="span4">
      <ul class="user-menu">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <li><a href="/orders/">My Orders</a></li>
          <li><a href="/cart/">Your Cart: {{cart}}</a></li>
          <li><a href="/checkout/">Checkout</a></li>
          <li><b>{{user.email}}</b></li>
          <li><a href="/logout/">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="wrapper" class="container">
  <section class="header_text sub">
    <h4><span>My Orders</span></h4>
  </section>
  <section class="main-content">
    <div class="row">
      <div class="span9">
        <h4 class="title"><span class="text"><strong>My</strong> Orders</span></h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Order Number</th>
            <th>Products</th>
            <th>Date</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          {% for order in orders %}
          <tr>
            <td>{{order.order_number}}</td>
            <td>
              <ul>{% for item in order.line_items %}
                <li>{{item.title}}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{order.created_at}}</td>
            <td>Rs. {{order.total_price}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr/>
      </div>
    </div>
  </section>

  <section id="copyright">
    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
  </section>
</div>
<script src="themes/js/common.js"></script>
</body>
</html>
